:root {
  --transition-short: ease-in-out 0.2s;
  --border-radius-m: 9px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Signika", sans-serif;
}

/* Helpers */
.flexStretch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexAlignCenter {
  display: flex;
  align-items: center;
}
/* ******** */

.factsMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.factsHeading {
  color: #db8940;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;

  font-weight: 600;
  font-size: 48px;
  letter-spacing: -0.03em;

  @media screen and (max-width: 950px) {
    font-size: 40px;
    margin-top: 66px;
  }

  @media screen and (max-width: 700px) {
    font-size: 36px;
  }

  @media screen and (max-width: 550px) {
    font-size: 34px;
  }

  @media screen and (max-width: 460px) {
    font-size: 32px;
  }

  @media screen and (max-width: 350px) {
    font-size: 28px;
  }
}

.factList {
  display: flex;
  flex-direction: column;
}

.accordionItem {
  border-bottom: 2px solid #e9b384;

  align-items: center;
  margin-bottom: 10px;
  max-width: 1000px;
  min-width: 1000px;
  border-radius: 9px;
  transition: var(--transition-short);

  background-color: #f4f2de;
  color: #31302c;

  @media screen and (max-width: 1000px) {
    max-width: 850px;
    min-width: 850px;
  }

  @media screen and (max-width: 850px) {
    max-width: 700px;
    min-width: 700px;
  }

  @media screen and (max-width: 700px) {
    max-width: 550px;
    min-width: 550px;
  }

  @media screen and (max-width: 550px) {
    max-width: 450px;
    min-width: 450px;
  }

  @media screen and (max-width: 460px) {
    max-width: 350px;
    min-width: 350px;
  }

  @media screen and (max-width: 350px) {
    max-width: 270px;
    min-width: 270px;
  }
}

.accordionItem:hover {
  background-color: #31302c;
  color: #fcfbf5;
  transition: var(--transition-short);
  /* To avoid a visual glitch I didn't remove the border */
  border-bottom: 2px solid #31302c;

  & .logo {
    filter: invert(100%);
    transition: var(--transition-short);
  }
}

.blendBorder {
  border-bottom: 2px solid #f4f2de !important;
}

.accordionItem:last-child {
  padding: 10px;
}
.accordionItem:not(:last-child) {
  cursor: pointer;
}

.itemHead {
  padding: 10px;
}

.factItem {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.factDescription {
  width: 40%;
  padding: 5px;
  margin: 10px 0;
  border-radius: var(--border-radius-m);
}

.imgContainer {
  max-height: 100%;
  max-width: 40%;
  min-width: 40%;
  overflow: hidden;
  margin: 20px 0;
}

.factImg {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-m);
}

.logoContainer {
  height: 18.4px;
  padding: 0;
}

.logo {
  width: 40px;
  height: 40px;
  transition: var(--transition-short);
}

.lightBorder {
  box-shadow: 0 0 2px 1px #e9b38457;
}
